/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-drawer-inner-container {
  padding: 50px 20px 20px 50px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px !important;
}

.mat-drawer-backdrop .mat-drawer-shown {
  display: none;
}
